#input {
    background-color: #FFCC00;
    color: #DC143C;
}
#meetingtimes
{
    background-color: #800000;
    color: white;
    text-align: center;
}
#tabledisplay
{
    background-color: #3333FF;
    color: white;
}